#container {
  border: 1px solid black;
  height: 200px; 
  width: 300px;
  position: relative; 

  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#container-img:not(:last-child) {
  margin-left: 40px;
}

#resizer {
  width: 20px;
  height: 20px;
  background: cyan;
  position:absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
}

img {
  max-width: 100%;
  max-height: 100%;
}