#container {
  border: 1px solid black;
  height: 200px; 
  width: 300px;
  position: relative; 
}

#resizer {
  width: 10px;
  height: 10px;
  background: cyan;
  position:absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
}